<nav id="nav-background">
    <a href="/" target="_self" rel="noopener noreferrer"><img src="/images/CodeSquad-Comics-logo.png"
    class="nav-logo">
</a>
<div class="burger"><ul class="nav-links">
    <li><a href="/" target="_self" rel="noopener noreferrer">HOME</a></li>
    <li><a href="/about" target="_self" rel="noopener noreferrer">ABOUT</a></li>
    <li><a href="/login" target="_self" rel="noopener noreferrer">LOGIN</a></li>
</ul>
<a href="javascript:void(0);" class="menu">
    <i class="fas fa-bars" class="icon"></i>
</a>
</div>
</nav>