<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="body-background">
    <div class="body-container">
        <h1>ABOUT CODESQUAD COMICS</h1>
            <p>CodeSquad Comics is a collection of graphics novels read by Kira Novak. Copyrighted images are used for review purposes only. Meta information about this collection can be found below. A detailed list of all the graphics novels in this collection can be found on the homepage. Additional details about each comic book, including the author, genre, number of pages, and a brief synopsis, can be found by navigating to the homepage and clicking the image of the book cover or the Details link for the desired graphic novel.</p>   
        <div class="about-collection-container">
            <h2>COLLECTION DETAILS</h2>
            <ul>
                <li>total comic books: 12</li>
                <li>latest additions: 12</li>
                <li>5-star ratings: 5</li>
                <li>publishers: 9</li>
            </ul>   
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>