<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="body-background">
    <div class="body-container">
        <h1>ADMIN PAGE</h1>
        <button class="button-table"><a href="./create-book">ADD NEW COMIC</a></button>
        <div class = "table-style">
            <table class="admin">
                <thead>
                    <tr>
                        <td>COMIC TITLE</td>
                        <td>EDIT</td>
                        <td>DELETE</td>
                    </tr>
                </thead>
                <tbody>
                    <% for (comic of data) { %>
                        <%- include('../partials/book-listing'), { comic: comic } -%>
                   <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>