<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
<div class="body-background">
    <div class="body-container">
        <h1>ADMIN PAGE</h1>
        <button class="button-table" href="./admin-console/create-book">ADD NEW COMIC</button>
        <div class = "table-style">
            <table class="admin">
                <thead>
                    <tr>
                        <td>COMIC TITLE</td>
                        <td>EDIT</td>
                        <td>DELETE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Batman: The Dark Knight Returns</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Black Panther: A Nation Under Our Feet Book 1</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Fun Home: A Family Tragicomic</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Hunter X Hunter Vol. 1</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Lumberjanes Vol. 1</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>One Piece, Vol. 1: Romance Dawn</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Parable of the Sower</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Queer: A Graphic History</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>The Walking Dead, Vol. 1: Days Gone Bye</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Wake: The Hidden History of Women-Led Slave Revolts</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                    <tr>
                        <td>Watchmen</td>
                        <td><button>EDIT</button></td>
                        <td><button>DELETE</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>