<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="body-background">
        <div class="card">
            <div class="card-top">
                <h2 class="card-title">LUMBERJANES VOL. 1</h2>
                <div class="card-img-container"><img class="card-img" src="/images/lumberjanes.jpg"></div>
            </div>
            <div class= "card-bottom">
            <ul class="card-desc">
                <li class="card-item"><span class="card-titles">Title:</span><span class="italic"> Lumberjanes Vol.
                        1</span></li>
                <li class="card-item"><span class="card-titles">Author:</span> Noelle Stevenson</li>
                <li class="card-item"><span class="card-titles">Publisher:</span> BOOM! Box</li>
                <li class="card-item"><span class="card-titles">Genre:</span> Coming-of-age</li>
                <li class="card-item"><span class="card-titles">Number of pages:</span> 128</li>
                <li class="card-item"><span class="card-titles">Rating:</span> 4</li>
                <li class="card-item"><span class="card-titles">Synopsis:</span><span class="paragraph">
                        At Miss Qiunzilla Thiskwin Penniquiqul Thistle Crumpet's camp for hard-core lady-types, things
                        are not what they seem. Three-eyed foxes. Secret caves. Anagrams. Luckily, Jo, April, Mal,
                        Molly, and Ripley are five rad, butt-kicking best pals determined to have an awesome summer
                        together... And they're not gonna let a magical quest or an array of supernatural critters get
                        in their way! The mystery keeps getting bigger, and it all begins here.</span></li>
            </ul></div>
        </div>
    </div>
<%- include('../partials/footer') -%>