<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Comic</title>
    <link rel="stylesheet" type="text/css" href="public/styles/styles.css">
    <script src="https://kit.fontawesome.com/6c117c7d34.js" crossorigin="anonymous"></script>
    <script src="./public/js/scripts.js" defer></script>
</head>
<body>
    <nav id="nav-background">
        <a href="index.html" target="_self" rel="noopener noreferrer"><img src="public/images/CodeSquad-Comics-logo.png"
        class="nav-logo">
    </a>
    <div class="burger"><ul class="nav-links">
        <li><a href="index.html" target="_self" rel="noopener noreferrer">HOME</a></li>
        <li><a href="#" target="_self" rel="noopener noreferrer">ABOUT</a></li>
        <li><a href="login.html" target="_self" rel="noopener noreferrer">LOGIN</a></li>
    </ul>
    <a href="javascript:void(0);" class="menu">
        <i class="fas fa-bars" class="icon"></i>
    </a>
</div>
</nav>
    <div class="body-background"><div class="body-container"><h1>CREATE NEW COMIC</h1>
    <form class= "form" action="#">
        <label for="title" class="label">Title:
        <input type="text" id="title" name="title" placeholder="Title"></label>
        <label for="author" class="label">Author:
        <input type="text" id="author" name="author" placeholder="Author"></label>
        <label for="publisher" class="label">Publisher:
        <select id="publisher" name="publisher">
            <option value="select" disabled selected>Select</option>
            <option value="boombox">BOOM! Box</option>
            <option value="dccomics">DC Comics</option>
            <option value="harryabrams">Harry N. Abrams</option>
            <option value="iconbooks">Icon Books</option>
            <option value="imagecomics">Image Comics</option>
            <option value="marvel">Marvel</option>
            <option value="simonschuster">Simon & Schuster</option>
            <option value="topshelfprod">Top Shelf Productions</option>
            <option value="vizmedia">VIZ Media LLC</option>
            </select></label>
        <label for="genre" class="label">Genre:
        <input type="text" id="genre" name="genre" placeholder="Genre"></label>
        <label for="pages" class="label">Number of Pages:
        <input type="text" id="pages" name="pages" placeholder="Number of pages"></label>
        <label for="rating" class="label">Rating:
        <input type="text" id="rating" name="rating"></label>
        <label for="synposis" class="label">Synopsis:
        <textarea name="synopsis" id="synopsis">Synopsis</textarea></label>
        </form>
        <div class="button-center"><button>Submit</button></div>
    </div>
    <div class="footer-background">
        <footer id="footer-container">
            <div class="footer-text"><h3>VISIT US</h3>
            <ul class="footer-ul">
                <li>Code Squad Comics</li>
                <li>123 Dorchester Avenue</li>
                <li>Boston, MA 02124</li>
            </ul>
            </div>
            <div class="footer-text">
            <h3>LINKS</h3>
            <ul class="footer-ul">
                <li><a href="index.html" target="_self" rel="noopener noreferrer">Home</a></li>
                <li><a href="#" target="_self" rel="noopener noreferrer">About</a></li>
                <li><a href="login.html" target="_self" rel="noopener noreferrer">Login</a></li>
            </ul>
            </div>
            <div class="footer-text">
            <h3>FOLLOW US</h3>
                <ul class="footer-ul footer-social">
                <li><a href="https://www.facebook.com/newspaperhobo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/newspaperhobo/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a></li>
                <li></li><a href="https://www.twitter.com/theshroomhunter" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="footer-text footer-text4"><h3>A PRODUCT OF</h3>
            <a href="http://www.codesquad.org" target="_blank" rel="noopener noreferrer"><img class="footer-logo" src="public/images/CodeSquad-logo-b.png"></a>
            </div></div>
    </footer>
</body>
</html>