<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="body-background">
        <div class="body-container">
            <h1>CODESQUAD COMICS</h1>
            <p>CodeSquad Comics is a collection of graphic novels read by Kira Novak. The site is intended to display
                comic book covers along with information about each book, including the author, a rating, and other
                details about the graphic novel. Browse through the complete collection below. Click on the cover image
                or the Details link to see even more information for each graphic novel including the publisher, genre,
                number of pages, and a brief synopsis. The About page includes meta information about this collection.
                Login is only available to the site administrator at this time.</p>
        </div>
        <div class="body-container">
            <h2>COMPLETE COMIC COLLECTION</h2>
            <div class="comic-covers-container">
            <% for (comic of data) { %>
             <%- include('../partials/single-book', { comic: comic }) -%>
           <% } %>
            <div class="button-container"><button class="more">DISPLAY MORE</button></div>
        </div>
    </div>
    <div class="footer-background">
        <footer id="footer-container">
            <div class="footer-text">
                <h3>VISIT US</h3>
                <ul class="footer-ul">
                    <li>Code Squad Comics</li>
                    <li>123 Dorchester Avenue</li>
                    <li>Boston, MA 02124</li>
                </ul>
            </div>
            <div class="footer-text">
                <h3>LINKS</h3>
                <ul class="footer-ul">
                    <li><a href="/" target="_self" rel="noopener noreferrer">Home</a></li>
                    <li><a href="/about" target="_self" rel="noopener noreferrer">About</a></li>
                    <li><a href="/login" target="_self" rel="noopener noreferrer">Login</a></li>
                </ul>
            </div>
            <div class="footer-text">
                <h3>FOLLOW US</h3>
                <ul class="footer-ul footer-social">
                    <li><a href="https://www.facebook.com/newspaperhobo/" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/newspaperhobo/" target="_blank" rel="noopener noreferrer"><i
                                class="fab fa-instagram"></i></a></li>
                    <li></li><a href="https://www.twitter.com/theshroomhunter" target="_blank"
                        rel="noopener noreferrer"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="footer-text footer-text4">
                <h3>A PRODUCT OF</h3>
                <a href="http://www.codesquad.org" target="_blank" rel="noopener noreferrer"><img class="footer-logo"
                        src="/images/CodeSquad-logo-b.png"></a>
            </div>
    </div>
    </footer>
    <script>
        // comic book array
        const comicBooks = [

{

    title: "Fun Home: A Family Tragicomic",

    author: "by Alison Bechdel",

    rating: "5 stars",

    href: "./fun-home.+html",

    imgSrc: "/images/fun-home.jpg",

    imgAlt: "Fun Home: A Family Tragicomic comic book cover",

},

{

    title: "Hunter X Hunter Vol. 1",

    author: "by Yoshihiro Togashi",

    rating: "5 stars",

    href: "./hunter-x-hunter.html",

    imgSrc: "/images/hunter-x-hunter.jpg",

    imgAlt: "Hunter X Hunter comic book cover",

},

{

    title: "The Walking Dead, Vol. 1: Days Gone Bye",

    author: "by Robert Kirkman",

    rating: "4 stars",

    href: "./the-walking-dead.html",

    imgSrc: "/images/the-walking-dead.jpg",

    imgAlt: "The Walking Dead, Vol. 1: Days Gone Bye comic book cover",

}
]

// grab "display more button"
let displayMoreButton = document.querySelector(".more")
let parentContainer = document.querySelector(".comic-covers-container")

//create new html objects 
const createNewContainer = function() {
    for (let i = 0; i< comicBooks.length; i++) {
// create new div element
    let newDiv = document.createElement("div");
    // set classname for div
    newDiv.className= "comic-covers-single-container";
    // create new img element
    let newImg = document.createElement("img");
     // set classname for img
    newImg.className = "comic-covers-img";
    // set attribute to the value of the key "imgSrc" within the called comic book object via loop
    newImg.setAttribute("src", comicBooks[i].imgSrc);
    // set attribute to the value of the key "imgAlt" within the called comic book object via loop
    newImg.setAttribute("alt", comicBooks[i].imgAlt);
    // create new fig caption
    let newFigCap = document.createElement("figcaption")
     // set classname for fig caption
    newFigCap.className = "desc-container";
    // set text content of fig caption - figure out how to format these! gotta clean up the inline styling tbh.`
    newFigCap.textContent = (`${comicBooks[i].title} ${comicBooks[i].author} ${comicBooks[i].rating}`);
    console.log(newFigCap)
    // create new href element 
    let newLink = document.createElement("a")
     // set attribute to the value of the key "href" within the called comic book object via loop
    newLink.setAttribute("href", comicBooks[i].href);
    // set text inside link to "details"
    newLink.textContent = "Details";
    // nest link inside fig cap
    newFigCap.appendChild(newLink);
    // nest image and fig cap inside newDiv
    newDiv.appendChild(newImg);
    newDiv.appendChild(newFigCap);
    // nest newDiv inside large comic book container
    parentContainer.appendChild(newDiv);
    }}

displayMoreButton.addEventListener("click", createNewContainer);


    </script>
</body>

</html>