<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <div class="body-background"><div class="body-container"><h1>LOGIN</h1>
        <form class="form"><label for="email">Email Address:</label>
        <input type="text" id="email" name="email" placeholder="Email">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="Password"> 
        <div class="button-center"><button>Submit</button></div>
    </form> 
    </div></div>
<%- include('../partials/footer') -%>