:root {
    --dark-blue: #063C5E;
    --yellow: #FCCF14;
    --teal: #018593;
    --light-blue: rgb(0, 179, 255);
    --white: #fff;
    --black: #000;
    --light-gray: #b3b3b3;
}

@font-face {
    font-family: "fred";
    src: url('../fonts/Fredericka/FrederickatheGreat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "open-sans-reg";
    src: url('../fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}   

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.4em;
    font-family: "open-sans-reg";
}  

h1, h2, h3, h4, h5, h6 {
    font-family: "fred"
}

h1 {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
}

h3 {
    padding:0;
    margin-top:0;
    color: var(--yellow);
}

table {
    border-spacing:0;
}

td { 
    border: 1px solid var(--black);
    border-collapse: collapse separate;
    padding:10px;
}

ul {
    margin:0;
    padding:0;
    text-decoration: none;    
}

button {
    background-color:var(--yellow);
    padding:3px 10px;
}

input {
    padding: 3px;
    border-radius: 4px;
}

select {
    padding: 3px;
    border-radius: 4px;
}

textarea {
    padding: 5px 3px;
    border-radius: 4px;
}
 i {
    display: flex;
    max-width: 130px;
    justify-content: space-between;
 }


.nav-container {
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--dark-blue);
    color:var(--white); 
    height:150px;
    font-family: "fred";
}

#nav-background {
    width:100%;
    height:150px;
    background-color: var(--dark-blue);
    color:var(--white); 
}

.nav-logo {
    width:300px;
    height:auto;
}

.nav-links {
    width:500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "fred";
}

.nav-links * {
    list-style: none;
    text-decoration: none;
}

.nav-links a:link {
    color:var(--white);
}

.nav-links a:visited {
    color:var(--white);
}

.nav-links a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.nav-links a:active {
    color:var(--dark-blue);
    background-color: var(--yellow);
    font-weight: bold;
}

.body-background {
    background-image: linear-gradient(var(--white), var(--teal));
    border-bottom:8px solid var(--yellow);
}

.body-container {
    width:75%;
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
    padding:3%;
    text-align: left;
    background-color: white;
    border: 5px solid var(--dark-blue);
    
}

.body-container h1, h2 {
    text-align: center;
    color: var(--dark-blue);
    padding: 2%;
}

.about-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-covers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comic-covers-single-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    width:200px;
    text-align: center;
}

.comic-covers-img {
    width:200px;
    height:300px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    width: 100%;
    height: 150px;
    padding: 20px 0px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px
}

.comic-covers-container a:link {
    color:var(--dark-blue);
}

.comic-covers-container a:visited {
    color:var(--dark-blue);
}

.comic-covers-container a:hover {
    color:var(--teal);
    font-weight: bold;
}

.comic-covers-container a:active {
    color: --light-blue;
    background-color: var(--yellow);
    font-weight: bold;
}

.comic-covers-container a:link {
    text-decoration: none;

}

.footer-background {
    display:flex;
    flex-direction: column;
    width:100%;
    padding-bottom: 100px;    
    background-color:var(--dark-blue);
    color:var(--white);
}

#footer-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    font-family: "fred";
}

.footer-text {
    margin-top: 50px;
    width: 250px;
    height:175px;
}

.footer-ul * {
    display: flex;
    text-decoration: none;
    list-style: none;  
}

.footer-social {
    display: flex;
    font-size: 1.3em;
    max-width: 150px;
    justify-content: space-between;
}

#footer-container a:link {
    color:var(--white);
}

#footer-container a:visited {
    color:var(--white);
}

#footer-container a:hover {
    color:var(--yellow);
    font-weight: bold;
}

#footer-container a:active {
    color:var(--dark-blue);
    background-color: var(--yellow);
    font-weight: bold;
}

.footer-logo {
    height:100px;
}

.button-center {
    margin-left: 45%;
    margin-bottom: 2%;
}

.admin {
    margin:0% 5%;  
}

.admin td:nth-child(1) {
    width:100%;
    padding-right: 20%; 
}

.admin thead {
    background-color: --light-gray;
    text-align:center;
    font-weight:bold;
}

.admin tr:nth-child(even) {
    background-color: --light-gray;
}

.admin td:nth-child(even) button {
    background-color: var(--dark-blue);
    color:var(--white);
    padding: 3px 20px;
}

#synopsis {
    padding-right:75px;
    padding-bottom: 100px;
}

.form {
    text-align: center;
}

.label {
    display:block;
    padding: 20px;
}

#title {
    padding-right:11%;
}

#author {
        padding-right:9%;
}

#publisher {
    padding-right: 7%;
}

#genre {
    padding-right: 10%;
}

#pages {
    padding-right: 1%;
}

#rating {
    padding-right: 10%;
}

#email {
    padding-right:10% ;
}

#password {
    padding-right: 14%;
}

.comic-covers {
    width:200px;
    height:auto;
}

.card {
    display: flex;
    justify-content: center;
}

.card-top {
    margin-top:30px;
}

.card-title {
    padding:0px 30px;
    padding-top:20px;
    margin:0;
    width:600px;
    height:700px;
    background-color:var(--dark-blue);
    color:var(--yellow); 
    text-align: center;
    border:solid;
    border-color: var(--yellow); 
    border-width: 5px; 
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}

.card-img {
    position: absolute;
    margin-left:130px;
    margin-top:70px;
    width:400px;
    height: auto;
    border:solid;
    border-color:var(--white);
    border-width: 3px;
    border-radius:5%
}

.card-desc {
    margin-bottom:50px;
    padding:30px;
    width:600px;
    list-style-type:none;
    border-right:5px solid var(--yellow);
    border-bottom:5px solid var(--yellow);
    border-left:5px solid var(--yellow);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.card-item {
    padding:10px;
    color:var(--white);
}

.card-item-1 {
    font-style: italic;
}

.card-titles {
    color: var(--dark-blue);
    font-weight: bold;
    text-decoration: underline;
}
