:root {
    --dark-blue: #063C5E;
    --yellow: #FCCF14;
    --teal: #018593;
    --light-blue: rgb(0, 179, 255);
    --white: #fff;
    --black: #000;
    --light-gray: #b3b3b3;;
}

@font-face {
    font-family: "fred";
    src: url('../fonts/Fredericka/FrederickatheGreat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "open-sans-reg";
    src: url('../fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
}   

@font-face {
    font-family: "open-sans-bold";
    src: url('../fonts/open_sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: "open-sans-italic";
    src: url('../fonts/open_sans/OpenSans-Italic.ttf');
}

.italic {
    font-style: italic;
}

.bold {
    font-family: "open-sans-bold";
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.4rem;
    font-family: "open-sans-reg";
}  

h1, h2, h3, h4, h5, h6 {
    font-family: "fred"
}

h1 {
    display: flex;
    justify-content: center;
    padding:0;
    margin:0;
}

h3 {
    padding:0;
    margin-top:0;
    color: var(--yellow);
}

ul {
    margin:0;
    padding:0;
    text-decoration: none;    
}

form {
    margin: auto;
    max-width: 300px;
}

label {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 10px;
    max-width: 300px;
    margin-bottom: 15px;
}

input#email, input#password {
    padding-right: 125px;
}

select {
    padding-right:150px;
    text-align: left;
}

button {
    background-color:var(--yellow);
    padding:3px 10px;
    width:75px;
}

.button-center {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.button-table {
   margin: 20px auto;
   display: flex;
   justify-content: space-around;
   width: auto;
}

table {
    border-spacing:0;
}

td { 
    border: 1px solid var(--black);
    border-collapse: collapse separate;
    padding:10px;
}

a {
    text-decoration: none;
}

.none {
    display: none;
}

#nav-background {
    display: flex;
    padding: 2rem 1rem;
    background-color: var(--dark-blue);
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width:200px;
    height:auto;
    
}

.nav-links {
    display: flex;
    font-family: "fred";
    font-size: 1.5rem;
}

.nav-links li {
    padding: 1rem;
}

#nav-background i {
    color:white;
    padding: 1rem;
    font-size: 2rem;
}

.nav-links * {
    list-style: none;
    text-decoration: none;
}

.nav-links a:link {
    color:var(--white);
}

.nav-links a:visited {
    color:var(--white);
}

.nav-links a:hover {
    color: var(--yellow);
    font-weight: bold;
}

.nav-links a:active {
    color:var(--dark-blue);
    background-color: var(--yellow);
    font-weight: bold;
}

.body-background {
    background-image: linear-gradient(var(--white), var(--teal));
    border-bottom:8px solid var(--yellow);
}

.body-container {
    width:75%;
    margin:auto;
    margin-top:3%;
    margin-bottom:3%;
    padding:3%;
    text-align: left;
    background-color: white;
    border: 5px solid var(--dark-blue); 
}

.body-container h1, h2 {
    text-align: center;
    color: var(--dark-blue);
    padding: 2%;
}

.about-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-covers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.comic-covers-single-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    width:200px;
    text-align: center;
}

.comic-covers-img {
    width:200px;
    height:300px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    flex-wrap: column;
    width: 100%;
    height: 150px;
    padding: 20px 0px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px
}

.comic-covers-container a:link {
    color:var(--dark-blue);
}

.comic-covers-container a:visited {
    color:var(--dark-blue);
}

.comic-covers-container a:hover {
    color:var(--teal);
    font-weight: bold;
}

.comic-covers-container a:active {
    color: var(--light-blue);
    background-color: var(--yellow);
    font-weight: bold;
}

.comic-covers-container a:link {
    text-decoration: none;

}

.footer-background {
    display:flex;
    flex-direction: column;
    width:100%;
    padding-bottom: 100px;    
    background-color:var(--dark-blue);
    color:var(--white);
}

#footer-container {
    display: flex;
    justify-content: space-around;
    font-family: "fred";
}

.footer-text {
    margin-top: 50px;
    width: 250px;
    height:175px;
}

.footer-text i {
    padding-right: 25px;
}

.footer-ul * {
    display: flex;
    text-decoration: none;
    list-style: none;  
}

.footer-social {
    display: flex;
    font-size: 1.3em;
    width: 175px;
    justify-content: center;
}

#footer-container a:link {
    color:var(--white);
}

#footer-container a:visited {
    color:var(--white);
}

#footer-container a:hover {
    color:var(--yellow);
    font-weight: bold;
}

#footer-container a:active {
    color:var(--dark-blue);
    background-color: var(--yellow);
    font-weight: bold;
}

.footer-logo {
    height:100px;
}

.table-style {
    overflow-x:auto;
}

.admin {
    margin:0% 5%;  
}

.admin td:nth-child(1) {
    width:100%;
    padding-right: 20%; 
}

.admin thead {
    background-color: --light-gray;
    text-align:center;
    font-weight:bold;
}

.admin tr:nth-child(even) {
    background-color: --light-gray;
}

.admin td:nth-child(even) button {
    background-color: var(--dark-blue);
    color:var(--white);
    padding: 3px 20px;
}

#synopsis {
    padding-bottom: 100px;
}

.comic-covers {
    width:200px;
    height:auto;
}

/* mobile design */
.card {
    margin: 1.3em auto;
    width: 85%;
    background-color: var(--dark-blue);
    border: 5px solid var(--yellow);
    border-radius: 40px;
}

.card-top {
    height: auto;
    margin-bottom: 2em;
}
.card-title {
    color:var(--yellow);
    padding: 0.5em;
    font-size: 1em;
}
.card-img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card-img {
    height:auto;
    width: 70%;
    min-width: 200px;
    margin: 0 2em;
    border: 3px solid var(--white);
    border-radius:5%;
}



.card-bottom {
    background-color: var(--white);
    border-top: 5px solid var(--yellow);
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}

.card-desc {
    list-style-type:none;
    padding: 0.8em;

}

.card-item {
    padding:10px;
}

.card-titles {
    color: var(--dark-blue);
    font-family: "open-sans-bold";
    text-decoration: underline;
} 

@media screen and (min-width: 769px) {
    #nav-background i {
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px) { 
    .body-container {
        padding: 5%;
    }
    h1 {
            font-size: 1.8em;
    }

    #nav-background {
        align-items: flex-start; 
        flex-flow: wrap; 
    }

    .nav-links {
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        display: none;
    }

    .block {
        display: block;
    }
    .nav-links li {
        padding: 1rem 0;
    }

    .burger {
    display: flex;
    flex-flow: wrap;
    flex-direction: column-reverse;
    }

    .burger li {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu {
        align-self: flex-end;
    }

    #footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family: "fred";
    }
}

@media screen and (min-width: 768px) {
    .card {
        display: flex;
        max-width: 1024px;
    }

    .card-bottom {
        background-color: var(--white);
        border-top: none;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 35px;
    }

}
